.contactPatch{
 
}

#rectangle{
    margin: 30px auto;
    align-content: center;
    border-radius: 25px;
    width: 100px;
    height:200px;
    background: #ffffff;
    border: 5px solid black;
    transition: width 1s ease;
}
#rectangle:hover{


    border-radius: 10px;
    width: 150px;
    height:200px;


}

