.wheelDurometerContainer{
    margin: 20px;
    align-items: top;
    display: flex;
    justify-content: center;
    flex-direction:table-row;
height: 350px;

}

ul,li{
    font-family: 'Permanent Marker';
}
.outlineWheelHard{
    margin: 15px;
    width: 100px;
    height: 100px;
}
.outlineWheelHard:hover{
    width: 100px;
    height: 100px;
    animation: bounceHard 1s infinite ;
    /* animation-timing-function: cubic-bezier(0.5,0.5,0.5,.5); */
  /* animation-iteration-count: 2; */
}
@keyframes bounceHard {
    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     {bottom:0;}
} 

.outlineWheelSoft{
    margin: 15px;
    width: 100px;
    height: 100px;
}

.outlineWheelSoft:hover{
    width: 100px;
    height: 100px;
    animation: bounceSoft 1s infinite ;
    /* animation-timing-function: cubic-bezier(.5,0.05,1,.5); */
    /* animation-iteration-count: 3;} */
}
    @keyframes bounceSoft {
    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     {bottom:0;}
      } 

      .softHardLine, .slideLine{
        width: 28em;
        height: 5px;
        border: none;
        border-top: 5px double #333;
        overflow: visible;
        background: black;
        margin: 10px auto;
        text-align:center;
        animation: line 2s ease-in;
    }

    .slideLine:after{
        background: #fff;
        content: 'Slide';
        padding: 0 4px;
        position: relative;
        top: -13px;
        margin:  auto;
    }


      li:hover{
          color:#3232FF
      }

      .softHardLineContainer, .slideLineContainer{
        display: flex;
        justify-content: space-evenly;
        max-width: 28em;
        margin:  auto;
      }

      .wheelHardness{
        font-size: 40px;
        /* align-items: center;*/
        display: flex; 
        justify-content: space-evenly;
        max-width: 28em;

          }
  